.Save_container {
    height: inherit;
    width: 100%;
    overflow-y: scroll;
}

.Save_title {
    font-size: 4.5em;
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 3%;
}

.export_items {
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.loading-img {
    position: fixed;
    z-index: 3;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .Save_title {
        font-size: x-large;
    }
    
}