.edu-title {
  font-size: 3.5vh;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-style: bold;
}

.edu-container {
  width: fit-content;
}

.date-from {
  float: left;
  margin-right: 0.7vw;
}

.date-to {
  float: right;
  margin-left: 0.7vw;
}
