.personal_input {
    height: 8vh;
    width: auto;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 1.7em;
    border: none;
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

.personal_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.names_div {
    margin-top: 5%;
    margin-bottom: 5%;
}

.personal_title {
    font-size: 4.5em;
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 3%;
}

.personal_container {
    height: inherit;
    width: 100%;
    overflow-y: scroll;
}