.Popup_parent {
    position: fixed;
    background-color: white;
    border: 1.4px solid lightgrey;
    z-index: 20;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    font-size: 1.4em;
    padding: 5%;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}

.popup_buttons {
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 5%;
}

.confirm_button {
    border: none;
    background: none;
    color : grey;
    border: 1.3px solid lightgray;
    border-radius: 4%;
    font-size: 1.1em;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    margin-right: 3%;
}

.cancel_button {
    border: none;
    background: none;
    color : grey;
    border: 1.3px solid lightgray;
    border-radius: 4%;
    font-size: 1.1em;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    margin-right: 3%;
}