@font-face {
  font-family: open-sans;
  src: url("../../fonts/OpenSans-Regular.ttf");
}

@media screen and (max-width: 960px) {
  .navbar {
    display: none;
  }
}

.navbar {
  height: fit-content;
  width: auto;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: #e85a4f;
}

ul {
  /*margin-right: 2.5vw;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: open-sans;
  color: #e98074;
  padding-top: 2.6vh;
  padding-bottom: 2.6vh;
}

.link {
  text-decoration: none;
  color: #e98074;
  height: 4vh;
}

.link:hover {
  color: white;
  cursor: pointer;
}
