@font-face {
  font-family: cake;
  src: url("../fonts/momcakebold.otf");
}

.title {
  position: relative;
  width: fit-content;
  height: fit-content;
  background-color: #28247c;
  font-family: cake;
  font-size: 5vw;
  color: antiquewhite;
  top: 10vh;
  left: 20vw;
}
