@font-face {
  font-family: gidole;
  src: url("../../fonts/Gidole-Regular.ttf");
}

.Collapsible {
  width: 55vw;
  font-size: 48px;
  border: solid 1.5px #e85a4f;
  background-color: #e85a4f;
  font-family: gidole;
}

.Collapsible__contentInner {
  font-family: gidole;
}

.Collapsible__trigger {
  color: #eae7dc;
}
