.title1 {
  font-family: open-sans-bold;
  font-size: 10vw;
  color: black;
  position: relative;
  text-align: center;
}

.title2 {
  font-family: open-sans;
  font-size: 4vw;
  color: #A9A9A9;
  position: relative;
  text-align: center;
  margin-bottom: 3vh;
}

.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-btn-div {
  width : fit-content;
  margin : auto; 
  position: absolute; 
  top: 0;
  right: 0; 
  margin-right:1.8em;
  margin-top:1.8em;
}

.get-started-btn {
  width: auto;
  height: 10vh;
  background: none;
  border: solid 0.8px black;
  border-radius: 6px;
  background-color: black;
  color: white;
  font-family: open-sans-bold;
  font-size: medium;
  cursor: pointer;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.get-started-link {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  text-decoration: none;
}

.log-in-link {
  color: black;
  font-family: open-sans;
  text-decoration: none;
}

.log-in-div {
  position: relative;
  margin: 0 auto;
  width: fit-content;
}

@media screen and (max-width: 768px) {
  .open-btn-div {
    position: relative;
    margin-top: 0;
    margin-right: 0;
  }
  .get-started-btn {
    height: 15%;
    padding-bottom: 4%;
    padding-top: 4%;
  }
  
}
