/*@font-face {
  font-family: open-sans;
  src: url("../../fonts/OpenSans-Regular.ttf");
}*/

input {
  font-family: open-sans;
  background: transparent;
  border: transparent;
  border-radius: 1px;
  border-bottom: solid 3.5px #e98074;
  width: 30.5vw;
  height: 15vh;
  font-size: 2.3vw;
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
  margin-left: 2vw;
  margin-right: 2vw;
  color: #e98074;
}

input::placeholder {
  color: #e98074;
}

input:focus {
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: solid 3.5px #e85a4f;
}

.names {
  display: flex;
  padding-bottom: 5vh;
}

.contact {
  display: flex;
}

.personal-container {
  padding-top: 2vh;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

#personal-title {
  padding-top: 11vh;
  color: #e85a4f;
  width: fit-content;
  height: fit-content;
  display: block;
  margin: 0 auto;
  font-family: open-sans;
  font-size: 7vw;
}
