@font-face {
    font-family: open-sans;
    src: url("../../fonts/OpenSans-Regular.ttf");
}

.template-container {
    width: 66vw;
    height: 68vh;
    background-color: #e85a4f;
    z-index: 400;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 0.5vw;
    padding-right: 2vw;
    padding-bottom: 6vh;
    padding-left: 2vw;
    overflow-y: scroll;
}

.templates {
    display: flex;
    flex-flow: row wrap;
}

.template-img {
    width : auto;
    height : 40vh;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    margin-bottom: 2vh;
}

.template-title {
    font-family: open-sans;
    font-size: 2.5em;
    padding-bottom: 2vh;
    color: white;
    width: fit-content;
    margin: auto;
}

.template-img:hover {
    cursor: pointer;
}

.close-templates {
    background: none;
    border : none;
    position: absolute;
    right: 0;
}

.close-templates:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0.6em;
}
   
   
::-webkit-scrollbar-thumb {
    background-color: rgba(233, 128, 116, 0.95);
    border-radius: 1vh;
}